
<div id="game_containter">
    <div id="game_question" class="game_box">
        <div class="question_text">
            <h2>{{question}}</h2>
        </div>
    </div>
    <div id="game_options">
        <div id="option1" class="game_option game_box">
            <div class="option1_image_container">
                <img src="{{url1}}" alt="{{name1}}">
                <div class="option1_keyword">
                    <div class="option1_keyword_text">
                        <h3>{{name1}}</h3>
                    </div>
                </div>
            </div>        
        </div>
        <div id="option2" class="game_option game_box">
            <div class="option1_image_container">
                <img src="{{url2}}" alt="{{name2}}">
                <div class="option1_keyword">
                    <div class="option1_keyword_text">
                        <h3>{{name2}}</h3>
                    </div>
                </div>
            </div>      
        </div>
    </div>
</div>
